
<a href='https://www.instagram.com/lanlearning/'> <img src='../pimages/logosmall.png' width="100" height="100"/></a>
___
<center>Copyright LanLearning 2020</center>

# Let's Review Pandas Part 3!

This review notebook is meant to help you practice and reinforce what you have learned about **how to access specified, more complex information about a DataFrame** during class.

Please import the pandas library as pd below.

In [3]:
import pandas as pd

Save the ```astronauts.csv``` file we've provided you as a DataFrame in a variable called ```astronauts```. Display the table.

In [4]:
astronauts = pd.read_csv("astronauts.csv")
astronauts # display the table

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,5/17/1967,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaN,NaN
1,Loren W. Acton,NaN,NaN,Retired,3/7/1936,"Lewiston, MT",Male,Montana State University; University of Colorado,Engineering Physics,Solar Physics,NaN,NaN,1,190,0,0.0,STS 51-F (Challenger),NaN,NaN
2,James C. Adamson,1984.0,10.0,Retired,3/3/1946,"Warsaw, NY",Male,US Military Academy; Princeton University,Engineering,Aerospace Engineering,Colonel,US Army (Retired),2,334,0,0.0,"STS-28 (Columbia), STS-43 (Atlantis)",NaN,NaN
3,Thomas D. Akers,1987.0,12.0,Retired,5/20/1951,"St. Louis, MO",Male,University of Missouri-Rolla,Applied Mathematics,Applied Mathematics,Colonel,US Air Force (Retired),4,814,4,29.0,"STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...",NaN,NaN
4,Buzz Aldrin,1963.0,3.0,Retired,1/20/1930,"Montclair, NJ",Male,US Military Academy; MIT,Mechanical Engineering,Astronautics,Colonel,US Air Force (Retired),2,289,2,8.0,"Gemini 12, Apollo 11",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,David A. Wolf,1990.0,13.0,Retired,8/23/1956,"Indianapolis, IN",Male,Purdue University; Indiana University,Electrical Engineering,Medicine,NaN,NaN,3,4044,7,41.0,STS-58 (Columbia). STS-86/89 (Atlantis/Endeavo...,NaN,NaN
353,Neil W. Woodward III,1998.0,17.0,Retired,7/26/1962,"Chicago, IL",Male,MIT; University of Texas-Austin; George Washin...,Physics,Physics; Business Management,Commander,US Navy,0,0,0,0.0,NaN,NaN,NaN
354,Alfred M. Worden,1966.0,5.0,Retired,2/7/1932,"Jackson, MI",Male,US Military Academy; University of Michigan,Military Science,Aeronautical & Astronautical Engineering,Colonel,US Air Force (Retired),1,295,1,0.5,Apollo 15,NaN,NaN
355,John W. Young,1962.0,2.0,Retired,9/24/1930,"San Francisco, CA",Male,Georgia Institute of Technology,Aeronautical Engineering,NaN,Captain,US Navy (Retired),6,835,3,20.0,"Gemini 3, Gemini 10, Apollo 10, Apollo 16, STS...",NaN,NaN
356,George D. Zamka,1998.0,17.0,Retired,6/29/1962,"Jersey City, NJ",Male,US Naval Academy; Florida Institute of Technology,Mathematics,Engineering Management,Colonel,US Marine Corps (Retired),2,692,0,0.0,"STS-120 (Discovery), STS-130 (Endeavor)",NaN,NaN

### Exploration Time!

If you wanted access to statistical insights about a DataFrame's columns whose values are numerical, what method could you use?

.describe()

What kind of statistical insights would that method provide? List several below.

count, mean, std, min, max

Replace the lines below with your answers to make the sentence correct.

There are two methods you could use to find the unique values in a column in a dataset. There is ```.unique()``` or ```set()```.

Using one of the answers you provided above, find the number of unique values in the ```Undergraduate Major``` column of ```astronauts```. Print your answer.

In [5]:
print(len(astronauts["Undergraduate Major"].unique()))

84

Using the other answer you provided, find the number of unique values in the ```Undergraduate Major``` column of ```astronauts```. Print your answer. You should get the same number as the one above.

In [6]:
print(len(set(astronauts["Undergraduate Major"])))

84

### Keeping Track of Our Values

Replace the line below with your answer to make the sentence correct.

If you want to see how many times each value appears in its column, you can use the method ```.value_counts()```.

Call the method you answered above on the ```Gender``` column in ```astronauts``` and save it in a variable called ```gender_count```. Print ```gender_count```.

In [7]:
gender_count = astronauts["Gender"].value_counts()
print(gender_count)

Male      307
Female     50
Name: Gender, dtype: int64

We're going to use ```gender_count``` to see what percentage of astronauts are female. First, cast ```gender_count``` as a dictionary (by using ```dict()```) and store it in ```gc_dict```. Print ```gc_dict```.

In [8]:
gc_dict = dict(gender_count)
print(gc_dict)

{'Male': 307, 'Female': 50}

Then, index ```gc_dict``` and use the appropriate arithmetic operator to find the percentage of females in ```astronauts```. Print the percentage.

In [9]:
percentage = gc_dict["Female"] / sum(gc_dict.values())
print(percentage)

0.1400560224089636

### Target Practice

Below is the format you should follow when you only want to access the parts of the DataFrame where the values in ```column``` are equal to ```item```. Please fill in the blanks to finalize the format.

data_frame[```data_frame```[column] ```==``` item]

Replace the lines below with your answers to make the sentence correct.

Inside of the outermost pair of brackets (in the format above), you need to pass in a ```conditional``` statement which will return a ```series``` of ```booleans``` to slice into the DataFrame.

Access the portion of the DataFrame ```astronauts``` where the values in the ```Status``` column are equal to ```"Active"``` and store it in a variable called ```active_astronauts```. Display ```active_astronauts```.

In [10]:
active_astronauts = astronauts[astronauts["Status"] == "Active"]
active_astronauts

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,5/17/1967,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaN,NaN
11,Dominic A. Antonelli,2000.0,18.0,Active,8/23/1967,"Detroit, MI",Male,MIT; University of Washington,Aeronautics & Astronautics,Aeronautics & Astronautics,Commander,US Navy,2,579,0,0.0,"STS-119 (Discovery), STS-132 (Atlantis)",NaN,NaN
15,Richard R. Arnold II,2004.0,19.0,Active,11/26/1963,"Cheverly, MD",Male,Frostburg State University; University of Mary...,Accounting,Environmental Science,NaN,NaN,1,307,2,12.0,STS-119 (Discovery),NaN,NaN
17,Serena M. Aunon,2009.0,20.0,Active,4/9/1976,"Indianapolis, IN",Female,George Washington University; University of Texas,Electrical Engineering,Medicine,NaN,NaN,0,0,0,0.0,NaN,NaN,NaN
21,Michael R. Barratt,2000.0,18.0,Active,4/16/1959,"Vancouver, WA",Male,University of Washington; Northwestern Univers...,Zoology,Medicine; Aerospace Medicine,NaN,NaN,2,5075,1,5.0,"ISS-19/20 (Soyuz), STS-133 (Discovery)",NaN,NaN
26,Robert L. Behnken,2000.0,18.0,Active,7/28/1970,"Creve Couer, MO",Male,Washington University; California Institute of...,Physics & Mechanical Engineering,Mechanical Engineering,Colonel,US Air Force,2,708,6,37.0,"STS-123 (Endeavor), STS-130 (Endeavor)",NaN,NaN
31,Eric A. Boe,2000.0,18.0,Active,10/1/1964,"Miami, FL",Male,US Air Force Academy; Georgia Institute of Tec...,Aeronautical Engineering,Electrical Engineering,Colonel,US Air Force,2,687,0,0.0,"STS-126 (Endeavor), STS-133 (Discovery)",NaN,NaN
34,Stephen G. Bowen,2000.0,18.0,Active,2/13/1964,"Cohasset, MA",Male,US Naval Academy; MIT,Electrical Engineering,Ocean Engineering,Captain,US Navy,3,970,7,47.0,"STS-126 (Endeavor), STS-132 (Atlantis), STS-13...",NaN,NaN
39,Randolph J. Bresnik,2004.0,19.0,Active,9/11/1967,"Fort Knox, KY",Male,The Citadel; University of Tennessee-Knoxville,Mathematics,Aviation Systems,Colonel,US Marine Corps,1,259,2,12.0,STS-129 (Atlantis),NaN,NaN
47,Daniel C. Burbank,1996.0,16.0,Active,7/27/1961,"Machester, CT",Male,US Coast Guard Academy; Embry-Riddle Aeronauti...,Electrical Engineering,Aeronautical Science,Captain,US Coast Guard (Retired),3,4512,1,7.0,"STS-106 (Atlantis), STS-115 (Atlantis), ISS-29...",NaN,NaN
52,Tracy E. Caldwell (Dyson),1998.0,17.0,Active,8/14/1969,"Arcadia, CA",Female,California State University-Fullerton; Univers...,Chemistry,Physical Chemistry,NaN,NaN,2,4531,3,23.0,"STS-118 (Endeavor), ISS-23/24 (Soyuz)",NaN,NaN
60,Christopher J. Cassidy,2004.0,19.0,Active,1/4/1970,"Salem, MA",Male,US Naval Academy; MIT,Mathematics,Ocean Engineering,Commander,US Navy,1,4376,6,31.0,STS-127 (Endeavor); ISS-35/36 (Soyuz),NaN,NaN
64,Gregory E. Chamitoff,1998.0,17.0,Active,8/6/1962,"Montreal, Canada",Male,California Polytechnic State University; Calif...,Electrical Engineering,Aeronautical Engineering; Aeronautics & Astron...,NaN,NaN,2,4770,2,13.0,"STS-124/126 (Discovery/Endeavor), STS-134 (End...",NaN,NaN
75,Catherine G. Coleman,1992.0,14.0,Active,12/14/1960,"Charleston, SC",Female,MIT; University of Massachusetts,Chemistry,Polymer Science & Engineering,Colonel,US Air Force (Retired),3,4324,0,0.0,"STS-73 (Columbia), STS-93 (Columbia), ISS-26/2...",NaN,NaN
91,Alvin B. Drew Jr.,2000.0,18.0,Active,11/5/1962,"Washington, DC",Male,US Air Force Academy; Embry-Riddle Aeronautica...,Physics & Astronautical Engineering,Aerospace Science; Political Science,Colonel,US Air Force,2,613,2,13.0,"STS-118 (Endeavor), STS-133 (Discovery)",NaN,NaN
101,Jeanette J. Epps,2009.0,20.0,Active,11/3/1970,"Syracuse, NY",Female,LeMoyne College; University of Maryland,Physics,Aerospace Engineering,NaN,NaN,0,0,0,0.0,NaN,NaN,NaN
106,Andrew J. Feustel,2000.0,18.0,Active,8/25/1965,"Lancaster, PA",Male,Purdue University; Queen’s University-Canada,Solid Earth Sciences,Geophysics; Seismology,NaN,NaN,2,687,6,42.0,"STS-125 (Atlantis), STS-134 (Endeavor)",NaN,NaN
107,E. Michael Fincke,1996.0,16.0,Active,3/14/1967,"Pittsburgh, PA",Male,MIT; Stanford University; University of Housto...,"Aeronautics & Astronautics; Earth, Atmospheric...",Aeronautics & Astronautics; Physical Sciences,Colonel,US Air Force,3,9159,9,48.0,"ISS-09 (Soyuz), ISS-18 (Soyuz), STS-134 (Endea...",NaN,NaN
108,Jack D. Fischer,2009.0,20.0,Active,1/23/1974,"Louisville, CO",Male,US Air Force Academy; MIT,Astronautical Engineering,Aeronautics & Astronautics,NaN,NaN,0,0,0,0.0,NaN,NaN,NaN
111,C. Michael Foale,1987.0,12.0,Active,1/6/1957,"Louth, England",Male,Cambridge University,Physics,Laboratory Astrophysics,NaN,NaN,6,8970,4,22.0,"STS-45 (Atlantis), STS-56 (Discovery), STS-63 ...",NaN,NaN
112,Kevin A. Ford,2000.0,18.0,Active,7/7/1960,"Portland, IN",Male,University of Notre Dame; Troy State Universit...,Aerospace Engineering,International Relations; Aerospace Engineering...,Colonel,US Air Force (Retired),2,3781,0,0.0,"STS-128 (Discovery), ISS-33/34 (Soyuz)",NaN,NaN
115,Michael E. Fossum,1998.0,17.0,Active,12/19/1957,"Sioux Falls, SD",Male,Texas A&M University; Air Force Institute of T...,Mechanical Engineering,Systems Engineering; Physical Science (Space S...,NaN,US Air Force Reserves (Retired),3,4651,7,48.0,"STS-121 (Discovery), STS-124 (Discovery), ISS-...",NaN,NaN
166,Michael S. Hopkins,2009.0,20.0,Active,12/28/1968,"Lebanon, MO",Male,University of Illinois; Stanford University,Aerospace Engineering,Aerospace Engineering,Colonel,US Air Force,1,3990,2,13.0,ISS-37/38 (Soyuz),NaN,NaN
169,Douglas G. Hurley,2000.0,18.0,Active,10/21/1966,"Endicott, NY",Male,Tulane University,Civil Engineering,NaN,Colonel,US Marine Corps,2,683,0,0.0,"STS-127 (Endeavor), STS-135 (Atlantis)",NaN,NaN
178,Gregory H. Johnson,1998.0,17.0,Active,5/12/1962,"London, England",Male,US Air Force Academy; Columbia University; Uni...,Aeronautical Engineering,Flight Structures Engineering; Business Admini...,Colonel,US Air Force (Retired),2,755,0,0.0,"STS-123 (Endeavor), STS-134 (Endeavor)",NaN,NaN
183,Scott J. Kelly,1996.0,16.0,Active,2/21/1964,"Orange, NJ",Male,State University of New York Maritime College;...,Electrical Engineering,Aviation Systems,Captain,US Navy (Retired),4,12490,3,18.0,"STS-103 (Discovery), STS-118 (Endeavor), ISS-2...",NaN,NaN
186,Robert Shane Kimbrough,2004.0,19.0,Active,6/4/1967,"Killeen, TX",Male,US Military Academy; Georgia Institute of Tech...,Aerospace Engineering,Operations Research,Colonel,US Army,3,3720,4,25.0,"STS-126 (Endeavor), ISS-49/50 (Soyuz)",NaN,NaN
187,Timothy L. Kopra,2000.0,18.0,Active,4/9/1963,"Austin, TX",Male,US Military Academy; Georgia Institute of Tech...,Computer Science,Aerospace Engineering; Strategic Studies,Colonel,US Army (Retired),2,5857,3,13.0,"STS-127/128 (Endeavor/Discovery), ISS-46/47 (S...",NaN,NaN
196,Kjell N. Lindgren,2009.0,20.0,Active,1/23/1973,"Taipei, Taiwan",Male,US Air Force Academy; University of Colorado; ...,Biology,Medicine; Cardiovascular Physiology; Health In...,NaN,NaN,1,3400,2,15.0,ISS-44/45 (Soyuz),NaN,NaN
213,Thomas H. Marshburn,2004.0,19.0,Active,8/29/1960,"Statesville, NC",Male,Davidson College; University of Virginia; Wake...,Physics,Engineering Physics; Medicine; Medical Science,NaN,NaN,2,3871,4,24.0,"STS-127 (Endeavor), ISS-34/35 (Soyuz)",NaN,NaN
215,Richard A. Mastracchio,1996.0,16.0,Active,2/11/1960,"Waterbury, CT",Male,University of Connecticut; Rensselaer Polytech...,Electrical Engineering; Computer Science,Electrical Engineering; Physical Sciences,NaN,NaN,4,5461,9,53.0,"STS-106 (Atlantis), STS-118 (Endeavor), STS-13...",NaN,NaN
217,K. Megan McArthur,2000.0,18.0,Active,8/30/1971,"Honolulu, HI",Female,University of California-Los Angeles; Universi...,Aerospace Engineering,Oceanography,NaN,NaN,1,309,0,0.0,STS-125 (Atlantis),NaN,NaN
231,Dorothy M. Metcalf-Lindenberger,2004.0,19.0,Active,5/2/1975,"Colorado Springs, CO",Female,Whitman College,Geology,NaN,NaN,NaN,1,362,0,0.0,STS-131 (Discovery),NaN,NaN
244,Karen L. Nyberg,2000.0,18.0,Active,10/7/1969,"Parker’s Prairie, MN",Female,University of North Dakota; University of Texas,Mechanical Engineering,Mechanical Engineering,NaN,NaN,2,4320,0,0.0,"STS-124 (Discovery), ISS-36/37 (Soyuz)",NaN,NaN
261,Donald R. Pettit,1996.0,16.0,Active,4/20/1955,"Silverton, OR",Male,Oregon State University; University of Arizona,Chemical Engineering,Chemical Engineering,NaN,NaN,3,8872,2,13.0,"ISS-6 (Soyuz), STS-126 (Endeavor), ISS-30/31 (...",NaN,NaN
280,Kathleen Rubins,2009.0,20.0,Active,10/14/1978,"Farmington, CT",Female,University of California-San Diego; Stanford U...,Molecular Biology,Cancer Biology,NaN,NaN,1,2762,2,13.0,ISS-48/49 (Soyuz),NaN,NaN
308,Nicole P. Stott,2000.0,18.0,Active,11/19/1962,"Albany, NY",Female,Embry-Riddle Aeronautical University; Universi...,Aeronautical Engineering,Engineering Management,NaN,NaN,2,2477,1,6.0,"STS-128/129 (Discovery/Atlantis), STS-133 (Dis...",NaN,NaN
311,Steven R. Swanson,1998.0,17.0,Active,12/3/1960,"Syracuse, NY",Male,University of Colorado; Florida Atlantic Unive...,Engineering Physics,Computer Systems; Computer Science,NaN,NaN,3,4700,5,28.0,"STS-117 (Atlantis), STS-119 (Discovery), ISS-3...",NaN,NaN
322,Scott D. Tingle,2009.0,20.0,Active,7/19/1965,"Attleboro, MA",Male,Southeastern Massachusetts University; Purdue ...,Mechanical Engineering,Mechanical Engineering,Commander,US Navy,0,0,0,0.0,NaN,NaN,NaN
326,Mark T. Vande Hei,2009.0,20.0,Active,11/10/1966,"Falls Church, VA",Male,Saint John’s University; Stanford University,Physics,Applied Physics,Colonel,US Army,0,0,0,0.0,NaN,NaN,NaN
328,Terry W. Virts Jr.,2000.0,18.0,Active,12/1/1967,"Baltimore, MD",Male,US Air Force Academy; Embry-Riddle Aeronautica...,Mathematics,Aeronautics,Colonel,US Air Force,2,5122,3,18.0,"STS-130 (Endeavor), ISS-42/43 (Soyuz)",NaN,NaN
331,Rex J. Walheim,1996.0,16.0,Active,10/10/1962,"Redwood, CA",Male,University of California-Berkeley; University ...,Mechanical Engineering,Industrial Engineering,Colonel,US Air Force (Retired),3,872,5,36.0,"STS-110 (Atlantis), STS-122 (Atlantis), STS-13...",NaN,NaN
334,Shannon Walker,2004.0,19.0,Active,6/4/1965,"Houston, TX",Female,Rice University,Space Physics,Space Physics,NaN,NaN,1,3919,0,0.0,ISS-24/25 (Soyuz),NaN,NaN
340,Douglas H. Wheelock,1998.0,17.0,Active,5/5/1960,"Binghamton, NY",Male,US Military Academy; Georgia Institute of Tech...,Applied Science & Engineering,Aerospace Engineering,Colonel,US Army,2,4281,6,43.0,"STS-120 (Discovery), ISS-24/25 (Soyuz)",NaN,NaN
342,Peggy A. Whitson,1996.0,16.0,Active,2/9/1960,"Mt. Ayr, IA",Female,Iowa Wesleyan College; Rice University,Chemistry & Biology,Biochemistry,NaN,NaN,3,11698,7,46.0,"STS-111/113 (Endeavor), ISS-16 (Soyuz), ISS-50...",NaN,NaN
346,Jeffrey N. Williams,1996.0,16.0,Active,1/18/1958,"Superior, WI",Male,US Military Academy; US Naval Postgraduate Sch...,Applied Science & Engineering,Aeronautical Engineering; National Security & ...,Colonel,US Army (Retired),4,12818,5,32.0,"STS-101 (Atlantis), ISS-13 (Soyuz), ISS-21/22 ...",NaN,NaN
347,Sunita L. Williams,1998.0,17.0,Active,9/19/1965,"Euclid, OH",Female,US Naval Academy; Florida Institute of Technology,Physical Science,Engineering Management,Captain,US Navy,2,7721,7,50.0,"STS-116/117 (Discovery/Atlantis), ISS-32/33 (S...",NaN,NaN
348,Barry E. Wilmore,2000.0,18.0,Active,12/29/1962,"Murfreesboro, TN",Male,Tennessee Technological University; University...,Electrical Engineering,Electrical Engineering; Aviation Systems,Captain,US Navy,2,4272,4,25.0,"STS-129 (Atlantis), ISS-41/42 (Soyuz)",NaN,NaN
349,Stephanie D. Wilson,1996.0,16.0,Active,9/27/1966,"Boston, MA",Female,Harvard University; University of Texas,Engineering Science,Aerospace Engineering,NaN,NaN,3,1031,0,0.0,"STS-121 (Discovery), STS-120 (Discovery), STS-...",NaN,NaN
350,G. Reid Wiseman,2009.0,20.0,Active,11/11/1975,"Baltimore, MD",Male,Rensselaer Polytechnic Institute; Johns Hopkin...,Computer & Systems Engineering,Systems Engineering,Commander,US Navy,1,3968,2,13.0,ISS-40/41 (Soyuz),NaN,NaN

Using your variable ```active_astronauts```, find how many rows in ```astronauts``` are ```"Active"```. Print your answer.

In [12]:
print(len(active_astronauts))

50

### Passing All (or Some of) the Tests

Replace the lines below with your answers to make the sentence correct.

When you want both (two out of two) conditions to be met, you should use the symbol ```&```. When you want only one of two conditions to be met, you should use the symbol ```|```.

Find the portion of the DataFrame ```astronauts``` where ```"Gender"``` is equal to ```"Female"``` **and** ```Status``` is equal to ```"Active"```.

In [13]:
astronauts[(astronauts["Gender"] == "Female") & (astronauts["Status"] == "Active")]

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
17,Serena M. Aunon,2009.0,20.0,Active,4/9/1976,"Indianapolis, IN",Female,George Washington University; University of Texas,Electrical Engineering,Medicine,NaN,NaN,0,0,0,0.0,NaN,NaN,NaN
52,Tracy E. Caldwell (Dyson),1998.0,17.0,Active,8/14/1969,"Arcadia, CA",Female,California State University-Fullerton; Univers...,Chemistry,Physical Chemistry,NaN,NaN,2,4531,3,23.0,"STS-118 (Endeavor), ISS-23/24 (Soyuz)",NaN,NaN
75,Catherine G. Coleman,1992.0,14.0,Active,12/14/1960,"Charleston, SC",Female,MIT; University of Massachusetts,Chemistry,Polymer Science & Engineering,Colonel,US Air Force (Retired),3,4324,0,0.0,"STS-73 (Columbia), STS-93 (Columbia), ISS-26/2...",NaN,NaN
101,Jeanette J. Epps,2009.0,20.0,Active,11/3/1970,"Syracuse, NY",Female,LeMoyne College; University of Maryland,Physics,Aerospace Engineering,NaN,NaN,0,0,0,0.0,NaN,NaN,NaN
217,K. Megan McArthur,2000.0,18.0,Active,8/30/1971,"Honolulu, HI",Female,University of California-Los Angeles; Universi...,Aerospace Engineering,Oceanography,NaN,NaN,1,309,0,0.0,STS-125 (Atlantis),NaN,NaN
231,Dorothy M. Metcalf-Lindenberger,2004.0,19.0,Active,5/2/1975,"Colorado Springs, CO",Female,Whitman College,Geology,NaN,NaN,NaN,1,362,0,0.0,STS-131 (Discovery),NaN,NaN
244,Karen L. Nyberg,2000.0,18.0,Active,10/7/1969,"Parker’s Prairie, MN",Female,University of North Dakota; University of Texas,Mechanical Engineering,Mechanical Engineering,NaN,NaN,2,4320,0,0.0,"STS-124 (Discovery), ISS-36/37 (Soyuz)",NaN,NaN
280,Kathleen Rubins,2009.0,20.0,Active,10/14/1978,"Farmington, CT",Female,University of California-San Diego; Stanford U...,Molecular Biology,Cancer Biology,NaN,NaN,1,2762,2,13.0,ISS-48/49 (Soyuz),NaN,NaN
308,Nicole P. Stott,2000.0,18.0,Active,11/19/1962,"Albany, NY",Female,Embry-Riddle Aeronautical University; Universi...,Aeronautical Engineering,Engineering Management,NaN,NaN,2,2477,1,6.0,"STS-128/129 (Discovery/Atlantis), STS-133 (Dis...",NaN,NaN
334,Shannon Walker,2004.0,19.0,Active,6/4/1965,"Houston, TX",Female,Rice University,Space Physics,Space Physics,NaN,NaN,1,3919,0,0.0,ISS-24/25 (Soyuz),NaN,NaN
342,Peggy A. Whitson,1996.0,16.0,Active,2/9/1960,"Mt. Ayr, IA",Female,Iowa Wesleyan College; Rice University,Chemistry & Biology,Biochemistry,NaN,NaN,3,11698,7,46.0,"STS-111/113 (Endeavor), ISS-16 (Soyuz), ISS-50...",NaN,NaN
347,Sunita L. Williams,1998.0,17.0,Active,9/19/1965,"Euclid, OH",Female,US Naval Academy; Florida Institute of Technology,Physical Science,Engineering Management,Captain,US Navy,2,7721,7,50.0,"STS-116/117 (Discovery/Atlantis), ISS-32/33 (S...",NaN,NaN
349,Stephanie D. Wilson,1996.0,16.0,Active,9/27/1966,"Boston, MA",Female,Harvard University; University of Texas,Engineering Science,Aerospace Engineering,NaN,NaN,3,1031,0,0.0,"STS-121 (Discovery), STS-120 (Discovery), STS-...",NaN,NaN

Now, find the portion of the DataFrame ```astronauts``` where ```"Gender"``` is equal to ```"Female"``` **or** ```Status``` is equal to ```"Active"```. Notice that when there are more results when there are less conditions.

In [14]:
astronauts[(astronauts["Gender"] == "Female") | (astronauts["Status"] == "Active")]

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,5/17/1967,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaN,NaN
11,Dominic A. Antonelli,2000.0,18.0,Active,8/23/1967,"Detroit, MI",Male,MIT; University of Washington,Aeronautics & Astronautics,Aeronautics & Astronautics,Commander,US Navy,2,579,0,0.0,"STS-119 (Discovery), STS-132 (Atlantis)",NaN,NaN
15,Richard R. Arnold II,2004.0,19.0,Active,11/26/1963,"Cheverly, MD",Male,Frostburg State University; University of Mary...,Accounting,Environmental Science,NaN,NaN,1,307,2,12.0,STS-119 (Discovery),NaN,NaN
17,Serena M. Aunon,2009.0,20.0,Active,4/9/1976,"Indianapolis, IN",Female,George Washington University; University of Texas,Electrical Engineering,Medicine,NaN,NaN,0,0,0,0.0,NaN,NaN,NaN
19,Ellen S. Baker,1984.0,10.0,Retired,4/27/1953,"Fayettesville, NC",Female,State University of New York-Buffalo; Cornell ...,Geology,Medicine; Public Health,NaN,NaN,3,686,0,0.0,"STS-34 (Atlantis), STS-50 (Columbia), STS-71 (...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,Jeffrey N. Williams,1996.0,16.0,Active,1/18/1958,"Superior, WI",Male,US Military Academy; US Naval Postgraduate Sch...,Applied Science & Engineering,Aeronautical Engineering; National Security & ...,Colonel,US Army (Retired),4,12818,5,32.0,"STS-101 (Atlantis), ISS-13 (Soyuz), ISS-21/22 ...",NaN,NaN
347,Sunita L. Williams,1998.0,17.0,Active,9/19/1965,"Euclid, OH",Female,US Naval Academy; Florida Institute of Technology,Physical Science,Engineering Management,Captain,US Navy,2,7721,7,50.0,"STS-116/117 (Discovery/Atlantis), ISS-32/33 (S...",NaN,NaN
348,Barry E. Wilmore,2000.0,18.0,Active,12/29/1962,"Murfreesboro, TN",Male,Tennessee Technological University; University...,Electrical Engineering,Electrical Engineering; Aviation Systems,Captain,US Navy,2,4272,4,25.0,"STS-129 (Atlantis), ISS-41/42 (Soyuz)",NaN,NaN
349,Stephanie D. Wilson,1996.0,16.0,Active,9/27/1966,"Boston, MA",Female,Harvard University; University of Texas,Engineering Science,Aerospace Engineering,NaN,NaN,3,1031,0,0.0,"STS-121 (Discovery), STS-120 (Discovery), STS-...",NaN,NaN
350,G. Reid Wiseman,2009.0,20.0,Active,11/11/1975,"Baltimore, MD",Male,Rensselaer Polytechnic Institute; Johns Hopkin...,Computer & Systems Engineering,Systems Engineering,Commander,US Navy,1,3968,2,13.0,ISS-40/41 (Soyuz),NaN,NaN

## Done!! :)

If you have any questions, feel free to email us at lanlearningservice@gmail.com or even better, use **Piazza**! We'll be happy to answer any questions/problems/etc that you may have!

<br>**About This Notebook:** <br>
Developed by: <br>
**Kyra Yee**

<br> 
Edited by: <br>
**Amy Tran**